#ansible.cfg:
[defaults]
host_key_checking = False
retry_files_enabled = False
nocows = 1

[inventory]
# fail more helpfully when the inventory file does not parse (Ansible 2.4+)
unparsed_is_failed=true

[galaxy]
server_list = automation_hub, galaxy
[galaxy_server.galaxy]
url=https://galaxy.ansible.com/
[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/content/published/
#url=https://cloud.redhat.com/api/automation-hub
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJhZDUyMjdhMy1iY2ZkLTRjZjAtYTdiNi0zOTk4MzVhMDg1NjYifQ.eyJpYXQiOjE2OTU4NDMxMDEsImp0aSI6ImViMzdkNjQ5LTdhZWUtNDMwZC1iN2Q3LWM2ZWVhNmVmY2YxMiIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjpudXBhZGh5YUByZWRoYXQuY29tIiwidHlwIjoiT2ZmbGluZSIsImF6cCI6ImNsb3VkLXNlcnZpY2VzIiwibm9uY2UiOiJlMzZhOGRmZC1jMDU3LTRkYTgtODFlNS0xMGYxZDhkMzRiNTMiLCJzZXNzaW9uX3N0YXRlIjoiOWY4M2E1YjMtMDdkYy00NjI5LWIyNDUtMjI5ZTk5OTI1ODk5Iiwic2NvcGUiOiJvcGVuaWQgYXBpLmlhbS5zZXJ2aWNlX2FjY291bnRzIG9mZmxpbmVfYWNjZXNzIiwic2lkIjoiOWY4M2E1YjMtMDdkYy00NjI5LWIyNDUtMjI5ZTk5OTI1ODk5In0.jgpyBwpz5xnfOPAgZqdFCNGbtSPM8CRVY1R316_ZBAA
