#ansible.cfg:
[defaults]
host_key_checking = False
retry_files_enabled = False
nocows = 1

[inventory]
# fail more helpfully when the inventory file does not parse (Ansible 2.4+)
unparsed_is_failed=true

[galaxy]
server_list = automation_hub, galaxy
[galaxy_server.galaxy]
url=https://galaxy.ansible.com/
[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/content/published/
#url=https://cloud.redhat.com/api/automation-hub
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=<get offlince token from https://console.redhat.com/ansible/automation-hub/token>
